html,
body,
#root {
  height: 100% !important;
}

body.swal2-height-auto {
  height: 100% !important;
}

a {
  text-decoration: none;
}

.sidebar {
  overflow-x: hidden;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 1rem;
}

.sidebar ul li {
  padding: 10px;
}

.formRoundImage {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.tableRoundImage {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.select__menu {
  position: relative !important;
}

.dashboardIcon {
  font-size: 1rem;
  height: 20px;
  width: 20px;
  text-align: center;
}

.dashboardTable th,
.dashboardTable td {
  padding: 0.5rem !important;
  font-size: 0.9rem !important;
}
